@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base {
  html,body,* {
    font-family: "Mochiy Pop P One", sans-serif;
  }
} */
body,
*,
p {
  font-family: "Mochiy Pop P One", sans-serif;
}
.valentines-day-card {
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 0.3s;
}
#open:checked ~ .card-front {
  transform: rotateY(-155deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.13),
    30px 0 50px rgba(0, 0, 0, 0.1);
}
#open:checked ~ .card-front:before {
  z-index: 5;
  background-color: #fff0f3;
  width: 320px;
  height: 320px;
  top: 0;
  left: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.1),
    30px 0 50px rgba(0, 0, 0, 0.1);
}
.heart {
  animation: 0.8s beat infinite;
}
.eyes {
  transform-origin: 50%;
  animation: close 2s infinite;
}
@keyframes close {
  0%,
  100% {
    transform: scale(1, 0.05);
  }
  5%,
  95% {
    transform: scale(1, 1);
  }
}
@keyframes beat {
  0%,
  40%,
  100% {
    transform: scale(1) rotate(-45deg);
  }
  25%,
  60% {
    transform: scale(1.1) rotate(-45deg);
  }
}

/* hearrts */

.hearts {
  position: absolute;
}

.one,
.two,
.three,
.four,
.five {
  /* background-color: red; */
  display: inline-block;
  height: 28px;
  margin: 0 10px;
  position: relative;
  /* transform: rotate(-45deg); */
  width: 28px;
  top: 50px;
}

/* .one:before,
.one:after, .two:before, .two:after, .three:before, .three:after, .four:before, .four:after, .five:before, .five:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.one:before, .two:before, .three:before, .four:before, .five:before {
  top: -5px;
  left: 0;
}

.one:after, .two:after, .three:after, .four:after, .five:after {
  left: 5px;
  top: 0;
} */

.one {
  left: 10px;
  animation: heart 1s ease-out infinite;
}

.two {
  left: 30px;
  animation: heart 2s ease-out infinite;
}

.three {
  left: 50px;
  animation: heart 1.5s ease-out infinite;
}

.four {
  left: 70px;
  animation: heart 2.3s ease-out infinite;
}

.five {
  left: 80px;
  animation: heart 1.7s ease-out infinite;
}

@keyframes heart {
  0% {
    transform: translateY(80px) scale(0.3);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-180px) scale(1.5);
    opacity: 1;
  }
}
